* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: static;
    width: 100%;
    padding-bottom: 65px;
    border-radius: 0px;
    background-color: rgb(245, 255, 250);
    box-shadow: inset 0 0 1em red;
    top: 0;
}
#header {
    position: fixed;
}


#imgBigInicial {
    width: auto;
    margin-left: 112px;
    margin-top: 28px;
    margin-bottom: 17px;
}

.linkInicial {
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 26px;
    text-decoration: underline 0.25em rgba(0, 0, 0, 0);
    transition: text-decoration-color 500ms;
    color: black;
    letter-spacing: -1px;
    position: relative;
    top: 51px;
    right: 36px;
}

.linkInicial:hover {
    text-decoration-color: black;
}


#slider {
    width: 100%;
    max-width: 100%;
    position: relative;
    height: 315px;
    z-index: -1;
    margin-top: 214px;
}

#slider img {
    opacity: 0;
    position: absolute;
    margin-left: 26%;
    width: 50%;
    height: 100%;

    object-fit: cover;
}

#slider img.selected {
    opacity: 1;
}

#menu {
    display: flex;
    justify-content: center;
    margin-bottom: 41px;
    
}

aside {
    width: 75%;
    height: 70vh;
    padding: 50px 125px;
    display: flex;
    justify-content: center;
    margin-bottom: 41px;
}

a {
    text-decoration: none;
}

button {
    display: block;
    background-color: blue;
    width: 180px;
    height: 44px;
    padding: 9px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border: none;
    
    margin-top: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255,140,0, 0.6);
    transition: 1s;
    color: black;
    border-radius: 17px;
}

#meuH3 {
    color: red;
    display: block;
}


#primeiroParagrafo {
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
    color: #696969;
    font-weight: 400;
}

#segundoParagrafo {
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
    color: #696969;
    font-weight: 400;
}

#terceiroParagrafo {
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
    color: #696969;
    font-weight: 400;
}

.imgs {
    width: 235px;
    border: none;
    cursor: pointer;
}

#eventos {
    display: inline-block;
    
}

#lojas {
    display: inline-block;
    
}

#projetos {
    display: inline-block;
}


#element {
   /* background-color: red; */
}

#primeiroH1 {
    text-align: center;
    font-size: 66px;
    color: #0C4A7C;
    margin-bottom: 55px;
    margin-top: 55px;
}

#brink {
    position: relative;
    z-index: -1;
    margin-left: 20%;
    margin-bottom: 60px;
    cursor: pointer;
}